<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.id == null ? '검증할 자료 등록하기' : '등록된 글 수정'}">검증할 자료 등록하기</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/verify.css">
	<script src="/js/verify.js" defer></script>
    <script th:src="@{/js/header.js}" defer></script>
</head>

<body>

<th:block th:replace="~{layout/header :: siteHeader}"></th:block>

<div class="container">

    <div class="write-header">
        <h1 th:text="${post.id == null ? '📂 검증할 자료 등록하기' : '✏️ 등록된 글 수정'}"></h1>

        <div class="write-buttons">
            <a href="/verify" class="btn btn-gray">취소</a>
            <button type="submit" form="verifyForm" class="btn btn-orange">저장</button>
        </div>
    </div>

    <form id="verifyForm"
          th:action="${post.id} != null ? @{'/verify/' + ${post.id} + '/edit'} : @{/verify}"
          method="post"
          enctype="multipart/form-data">

        <div class="form-box">

			<div class="writer-category-row">
			    <!-- 작성자 -->
			    <div class="writer-row">
			        <span class="writer-label">👤 작성자</span>
			        <span th:text="${post.id == null ? writerName : post.writer}"></span>
			    </div>

			    <!-- 카테고리 -->
			    <div class="category-inline">
			        <span class="category-label">📂 카테고리</span>
			        <select name="category" required>
			            <option value="">선택</option>
			            <option value="MEDICAL">의학</option>
			            <option value="SCIENCE">과학</option>
			            <option value="MATH">수학</option>
			            <option value="IT">컴퓨터 / IT</option>
			            <option value="SOCIETY">사회 / 경제</option>
			            <option value="ENTERTAINMENT">연예</option>
			            <option value="ETC">기타</option>
			        </select>
			    </div>
			</div>

			<!-- 제목 -->
			<div class="field-group">
			    <label class="field-label">✏️ 검증할 자료 제목</label>
			    <input type="text"
			           name="title"
			           th:value="${post.title}"
			           class="title-input"
			           required/>
			</div>

			<!-- 내용 -->
			<div class="field-group">
			    <label class="field-label">📝 검증 자료 증명 내용</label>
			    <textarea name="content"
			              th:text="${post.content}"></textarea>
			</div>


            <!-- 파일 -->
            <div class="file-upload-row">
                <label>📎 첨부파일</label>
                <input type="file" name="file"/>
                <div th:if="${post.storedFilename != null}">
                    현재 파일: <span th:text="${post.originalFilename}"></span>
                </div>
            </div>

        </div>
    </form>

</div>
</body>
</html>
